
$customer-bg-color: #fafafa;


:root {
    --main-text-color: #907e82;
    --main-black: #000000;
    --main-white: #ffffff;
    --primery-pink-color: #d41443;
    --secondary-pink-color: #ffa5ba;
    --menu-bg-color: #e17992;
    --secondary-bg-color: #fff5f6;
    --button-hover-pink-color: #c7133e;
    --button-hover-grey-color: #ecebeb;
    --hero-bg-color: #ffb8ca;
    --coffee-color: #f0d1a5;
    --green-color: #c2e297;
   
}

body {
    font-family: 'DM Sans', sans-serif;
    
}