.advantages {
  padding-bottom: 97px;
  background-color: var(--secondary-bg-color);
  @include tablet {
    padding-bottom: 140px;
  }
  @include desktop {
    padding-top: 39px;
    padding-bottom: 139px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 36px;
  }
  @include tablet {
    display: flex;
    max-width: 100%;
    margin-right: -60px;
    margin-bottom: -60px;
  }
  @include desktop {
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.advantages__item {
  max-width: 100%;
  @media screen and (max-width: 767px) {
    margin-bottom: 36px;
  }

  &::before {
    content: '';
    display: block;
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    @include tablet {
      margin-bottom: 36px;
    }
    @include desktop {
      margin-bottom: 40px;
    }
  }
  &:nth-child(1)::before {
    background-image: url(../images/advantages-milk.png);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages-milk@2x.png);
      background-size: contain;
    }
  }
  &:nth-child(2)::before {
    background-image: url(../images/advantages-apple.png);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages-apple@2x.png);
      background-size: contain;
    }
  }
  &:nth-child(3)::before {
    background-image: url(../images/advantages-heart.png);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages-heart@2x.png);
      background-size: contain;
    }
  }
  @include tablet {
    width: calc((100% - 120px) / 3);
    margin-right: 60px;
    margin-bottom: 60px;
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.advantages__pre-text {
  margin-bottom: 16px;
  display: inline-block;
  font-family: Titan One;
  @include font(36px, 400, 1.14, 0.04em);
  @media screen and (max-width: 767px) {
    text-transform: uppercase;
  }

  color: var(--primery-pink-color);
  @include tablet {
    margin-bottom: 13px;
    @include font(48px, 400, 1.15, 0.04em);
  }
  @include desktop {
    margin-bottom: 15px;
    @include font(58px, 400, 1.14, 0.04em);
  }
}

.advantages__text {
  font-family: DM Sans;
  @include font(12px, 700, 1.7, 0.04em);

  color: var(--main-black);
  @media screen and (max-width: 767px) {
    // max-width: 230px;
  }
  @include tablet {
    @include font(14px, 700, 1.74, 0.04em);
  }
  @include desktop {
    @include font(16px, 700, 1.76, 0.02em);
  }
}
