.btn{
    @include font(16px, 700, 1.31, null);
    background-color: var(--main-white);
    color: var(--primery-pink-color);
    border-radius: 22px;
    border: none;
    height: 44px;
    @include flex(flex, center, center);
    padding-left: 17px;
    padding-right: 17px;
    cursor: pointer;
    &:hover, &:focus{
        background-color: var(--button-hover-grey-color);
    }
}
.btn--pink {
    background-color: var(--primery-pink-color);
    color: var(--main-white);

    &:hover,
    &:focus {
        background-color: var(--button-hover-pink-color);
    }
}