.header{
position: absolute;
top: 0;
width: 100%;
z-index: 3;
    .container{
        
        padding-top: 6px;
        @include flex(flex, center, space-between);

        @include tablet{
            padding-top: 37px;
        }
        @include desktop {
            justify-content: flex-start;
        }
    }
}
.logo{
    display: block;
    @include flex(flex, center, flex-start);
    &-icon {
        fill: var(--primery-pink-color);
        margin-right: 20px;
    }
    
    &-name {
        color: var(--primery-pink-color);
        @include font(24px, 400, 1.15, 0.02em);
        text-transform: uppercase;
        font-family: 'Titan One', cursive;
    }
    @include tablet{
        margin-right: auto;
    }
    @include desktop{
        position: relative;
        left: -70px;
        margin-right: 40px;
    }
}
.btn-close__icon{
    fill: var(--primery-pink-color);
}
.btn-menu-modal-tab{
    width: 160px;
    margin-left: 30px;
    @media screen and (max-width:767px){
        display: none;
    }
    @include desktop {
        margin-left: 110px;
    }
    .menu-arrow-icon {
        margin-left: 12px;
    }
}
.btn-menu{
    @include desktop{
        display: none;
    }
}
.nav-desktop .nav-list {
    display: none;

    @include desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 541px;

    }
    .nav-list__item{
        padding: 0;
        border-color: transparent;
    }
    .nav-list__link{
        @include font(16px, 700, 1.31, null);
        &:hover, &:focus{
            color: var(--primery-pink-color);
        }
    }

}
.btn-menu-modal-tab, .btn-menu-modal{
    stroke: var(--primery-pink-color);
}