.products {
  padding-top: 121px;
  padding-bottom: 98px;
  @include tablet {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @include desktop {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  .container {
    text-align: center;
    width: 100%;
    max-width: 480px;
    @include tablet {
      min-width: 740px;
    }
    @include desktop {
      min-width: 1090px;
    }
  }
  &__text {
    font-family: 'Titan One';
    text-transform: uppercase;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;

    &._active {
      transform: translate(0px, 0%);
      opacity: 1;
    }
    @include font(18px, null, 1.16, 0.04em);
    color: var(--secondary-pink-color);
    margin-bottom: 15px;
    @include tablet {
      @include font(26px, null, 1.15, null);
    }
    @include desktop {
      @include font(30px, null, 1.13, null);
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: 'Titan One';
    @include font(34px, 400, 1.14, 0.04em);
    color: var(--primery-pink-color);
    margin-bottom: 144px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;

    &._active {
      transform: translate(0px, 0%);
      opacity: 1;
    }
    @include tablet {
      margin-bottom: 150px;
      @include font(48px, null, 1.15, null);
    }
    @include desktop {
      margin-bottom: 259px;
      @include font(58px, null, 1.14, 0.06em);
    }
  }
  &-list {
    margin-bottom: -30px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      width: fit-content;
      display: flex;
      margin-bottom: 0;
      margin-right: -20px;
    }
    @include desktop {
      margin-right: -23px;
    }
  }

  &-list__item {
    position: relative;
    min-width: 280px;
    height: 485px;
    border-radius: 24px;
    margin-bottom: 130px;
    padding: 161px 40px 41px 40px;
    @include tablet {
      min-width: 220px;
      padding: 152px 11px 40px 11px;
      margin-bottom: 0;
      width: calc(100% / 3 - 20px);
      margin-right: 20px;
    }

    @include desktop {
      min-width: 329px;
      height: 525px;
      padding: 163px 44px 50px 44px;
      width: calc(100% / 3 - 23px);
      margin-right: 23px;
    }

    &.cream {
      background-color: var(--hero-bg-color);
    }
    &.coffee {
      background-color: var(--coffee-color);
    }
    &.milkshakes {
      background-color: var(--green-color);
      margin-bottom: 0;
    }
  }
  &-list__title {
    text-transform: uppercase;
    font-family: 'Titan One';
    margin-bottom: 66px;

    @include font(20px, 400, 1.15, 0.04em);
    color: var(--main-white);
    @include desktop {
      margin-bottom: 70px;
    }
    .cream &::before {
      content: '';
      width: 249px;
      height: 252px;
      background-image: url(../images/ice_cream-mob-1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/ice_cream-mob-2x.png);
        background-size: cover;
      }
    }
    .coffee &::before {
      content: '';
      width: 249px;
      height: 252px;
      background-image: url(../images/ice_coffee-mob-1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/ice_coffee-mob-2x.png);
        background-size: cover;
      }
    }

    .milkshakes &::before {
      content: '';
      width: 249px;
      height: 252px;
      background-image: url(../images/milkshakes-mob-1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/milkshakes-mob-2x.png);
        background-size: cover;
      }
    }
    @include tablet {
      .cream &::before {
        content: '';
        width: 220px;
        height: 226px;
        background-image: url(../images/ice_cream-tab-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/ice_cream-tab-2x.png);
          background-size: cover;
        }
      }

      .coffee &::before {
        content: '';
        width: 220px;
        height: 226px;
        background-image: url(../images/ice_coffee-tab-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/ice_coffee-tab-2x.png);
          background-size: cover;
        }
      }

      .milkshakes &::before {
        content: '';
        width: 220px;
        height: 226px;
        background-image: url(../images/milkshakes-tab-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/milkshakes-tab-2x.png);
          background-size: cover;
        }
      }
    }
    @include desktop {
      @include font(30px, 400, 1.13, 0.04em);
      .cream &::before {
        content: '';
        width: 335px;
        height: 335px;
        background-image: url(../images/ice_cream-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/ice_cream-2x.png);
          background-size: cover;
        }
      }
      .coffee &::before {
        content: '';
        width: 335px;
        height: 335px;
        background-image: url(../images/ice_coffee-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/ice_coffee-2x.png);
          background-size: cover;
        }
      }

      .milkshakes &::before {
        content: '';
        width: 335px;
        height: 335px;
        background-image: url(../images/milkshakes-1x.png);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/milkshakes-2x.png);
          background-size: cover;
        }
      }
    }

    .cream &::before,
    .coffee &::before,
    .milkshakes &::before {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 346px;
      @include tablet {
        bottom: 363px;
        left: 0;
        transform: translate(0);
        animation: flipInY;
        animation-duration: 3s;
      }
      @include desktop {
        bottom: 400px;
      }
    }

    .cream &::after,
    .coffee &::after,
    .milkshakes &::after {
      position: absolute;
      content: '...';
      left: 50%;
      transform: translate(-50%);
      bottom: 260px;
      font-size: 25px;
      @include tablet {
        bottom: 270px;
        font-size: 27px;
      }
      @include desktop {
        bottom: 285px;
      }
    }
  }
}

.products-list__span {
  @include font(14px, 700, 1.5, 0.04em);
  color: var(--main-white);
  transform: translate(0px, 120%) rotateY(0);
  // transition-duration: 0.8s;
  display: block;
  width: 100%;
  height: 124px;
  // transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;

  &._active {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  @include tablet {
    display: block;
    @include font(null, null, 1.76, null);
    color: var(--main-white);
    width: 198px;
  }
  @include desktop {
    @include font(16px, null, null, null);
    width: 241px;
    height: 106px;
  }
}
.products-list__span-two {
  @include tablet {
    opacity: 0;
  }
}

.products-list__checkbox-icon {
  position: absolute;
  left: 50%;
  bottom: 41px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin-top: 30px;
  transform: translate(-50%) rotateY(0);
  transition-duration: 300ms;
  cursor: pointer; 
  // opacity: 0; 
  // transition: all 0.8s ease 0s;
  @include tablet {
    bottom: 40px;
    margin-top: 40px;
  }
  @include desktop {
    margin-top: 62px;
    bottom: 50px;
  }
}

.produckts-list__input {
  position: absolute;
  display: none;
}

.produckts-list__input:checked + .products-list__span {
  background-color: transparent;
  transform: translate(0px, 0%) rotateX(360deg) scale(1.25);
  transition-duration: 300ms;
}

.produckts-list__input:checked ~ .products-list__checkbox-icon {
  background-color: #ecebeb;
  transform: translate(-50%) rotateY(360deg) scale(1.3);
  transition-duration: 300ms;
}

.products-list__checkbox-icon:hover,
.products-list__checkbox-icon:focus {
  background-color: #ecebeb;
}
