<section class="about about__container" id="about">
  <div class="container">
    <p class="about__pre-title _anim-items _anim-no-hide">tradition and love</p>
    <h2 class="about__title _anim-items _anim-no-hide">how it&#700;s made?</h2>
    <div class="about__content">
      <div class="about__content-wrap">
        <div class="about__content-text _anim-items _anim-no-hide">
          <p class="about__text about__text--color _anim-show">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__text about__text--margin _anim-show">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="about__text _anim-show">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
        <button type="button" class="btn btn--about" data-about-open>
          Read more
          <svg width="14" height="10" class="btn__icon">
            <use href="./images/icons.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>


