<!-- Модальное окно -->
<div class="backdrop is-hidden" data-about>
    <div class="modal-about">
        <button type="button" class="about__modal-button-close" data-about-close>
            <svg width="28" height="28">
                <use href="./images/icons.svg#icon-menu-close"></use>
            </svg>
        </button>
        <div class="modal__text-wrap">
            <p class="modal-pre-text">how it&#700;s made?</p>
            <ul class="modal-list">
                <li class="modal-item">
                    <span class="modal-number">1...</span>
                    <p class="modal-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, doloremque? Aut, eligendi
                        magnam commodi amet similique iste recusandae? Voluptates, est enim. Totam praesentium
                        aperiam eum magni corporis saepe consequatur accusamus aspernatur tempora modi fuga
                        sunt, nostrum sed, sint laboriosam veritatis recusandae quis fugiat hic voluptas eius
                        unde laudantium? Fuga facere laboriosam quos nam ipsam a nemo dolorum dolore! Fuga,
                        illum.
                    </p>
                </li>
                <li class="modal-item">
                    <span class="modal-number">2...</span>
                    <p class="modal-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, accusantium ad.
                        Vero nulla, alias voluptas, quos tempore deleniti sit a mollitia optio maxime dolorum!
                        Fugit ipsa sit recusandae quis quasi nesciunt accusamus vel odio doloremque, quod
                        obcaecati adipisci neque placeat fugiat saepe dignissimos beatae dolorum dolore
                        aspernatur?
                    </p>
                </li>
                <li class="modal-item">
                    <span class="modal-number">3...</span>
                    <p class="modal-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, sunt porro hic
                        consectetur, laborum ducimus quasi maiores cumque ullam quis doloremque incidunt neque
                        numquam aut delectus! Quos molestiae reprehenderit unde, commodi quod minima ducimus
                        placeat voluptates sunt doloremque saepe, nostrum ut numquam neque? Illum deserunt
                        dolores quo hic amet!
                    </p>
                </li>
            </ul>
            <p class="modal-after-text">100% NATURAL</p>
        </div>
    </div>
</div>