<!-- _______________________CONTACTS_______________________ -->
<section class="contacts" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-list__text-location">CAFE</p>
        <div class="contacts-list__wrap-where">
          <h3 class="contacts-list__title black">Chicago</h3>
          <p class="contacts-list__text grey">Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts-list__when">
          <li class="contacts-list__when-item">
            <p class="contacts-list__text-day black">Monday - Friday</p>
            <p class="contacts-list__text-time pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-list__when-item">
            <p class="contacts-list__text-day black">Saturday - Sunday</p>
            <p class="contacts-list__text-time pink">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
            <address class="contacts-list__contacts">
              <a href="tel:+610383766284" class="contacts-list__link grey">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com" class="contacts-list__link grey">noreply@envato.com</a>
            </address>
  
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__text-location green">FOOD TRUCK</p>
        <div class="contacts-list__wrap-where">
          <h3 class="contacts-list__title black">Los Angeles</h3>
          <p class="contacts-list__text grey">Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts-list__when">
          <li class="contacts-list__when-item">
            <p class="contacts-list__text-day black">Monday - Friday</p>
            <p class="contacts-list__text-time pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-list__when-item">
            <p class="contacts-list__text-day black">Saturday - Sunday</p>
            <p class="contacts-list__text-time pink">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="contacts-list__contacts">
          <a href="tel:+610383766284" class="contacts-list__link grey">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-list__link grey">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__text-location">CAFE</p>
        <div class="contacts-list__wrap-where">
          <h3 class="contacts-list__title black">New York</h3>
          <p class="contacts-list__text grey">Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts-list__when">
          <li class="contacts-list__when-item">
            <p class="contacts-list__text-day black">Monday - Friday</p>
            <p class="contacts-list__text-time pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-list__when-item">
            <p class="contacts-list__text-day black">Saturday - Sunday</p>
            <p class="contacts-list__text-time pink">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="contacts-list__contacts">
          <a href="tel:+610383766284" class="contacts-list__link grey">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-list__link grey">noreply@envato.com</a>
        </address>
      </li>
    </ul>
    <ul class="contacts-list__button">
      <li class="contacts-list__btn-item">
        <button type="button" class="contacts-list__button-item btn btn--pink" data-map-open>
          Our Locations
          <svg class="contacts-arrow-icon" width="14" height="10">
            <use href="./images/icons.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-list__btn-item">

        <button type="button" class="contacts-list__button-item btn" data-fran-open1>Franchise
          <svg class="contacts-arrow-icon red" width="14" height="10">
            <use href="./images/icons.svg#icon-arrow-1"></use>
          </svg>
        </button>

      </li>
    </ul>
  </div>
</section>


