<section class="customer-section" id="custom">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="picture-wrap">
            <picture>
              <img
                srcset="
                  ./images/customers/client_mob-1.png    1x,
                  ./images/customers/client_mob-1@2x.png 2x
                "
                src="./images/customers/client_mob-1.png"
                alt="woman"
                width="85"
                height="85"
                class="customer-image"
              />
            </picture>
          </div>

          <div class="review-wrap">
            <div class="review-text-wrap">
              <p class="review-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <div class="review-slider"></div>
          <p class="review-label">Emily, Los Angeles</p>
        </div>

        <div class="swiper-slide">
          <div class="picture-wrap">
            <picture>
              <img
                srcset="./images/customers/clients_2.png 1x, ./images/customers/clients_2@2x.png 2x"
                src="./images/customers/clients_2.png"
                alt="woman"
                width="85"
                height="85"
                class="customer-image"
              />
            </picture>
          </div>

          <div class="review-wrap">
            <div class="review-text-wrap">
              <p class="review-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <div class="review-slider"></div>
          <p class="review-label">Michelle, Las Vegas</p>
        </div>

        <div class="swiper-slide">
          <div class="picture-wrap">
            <picture>
              <img
                srcset="./images/customers/clients_3.png 1x, ./images/customers/clients_3@2x.png 2x"
                src="./images/customers/clients_3.png"
                alt="woman"
                width="85"
                height="85"
                class="customer-image"
              />
            </picture>
          </div>

          <div class="review-wrap">
            <div class="review-text-wrap">
              <p class="review-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <div class="review-slider"></div>
          <p class="review-label">Amanda, New York</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
