<div class="footer">
  <div class="container flex-tab-des">
    <div class="promo">
      <p class="title promo__text--pastel">homemade ice cream made</p>
      <p class="title promo__text--accent">with passion</p>
    </div>

    <div class="social-contact">
      <div class="social">
        <ul class="social-list">
          <li class="social-list__item">
            <a
              href="https://github.com/"
              class="social-list__link"
              target="_blank"
              rel="noreferrer noopener"
              ><svg class="social-list__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://telegram.org/"
              class="social-list__link"
              target="_blank"
              rel="noreferrer noopener"
              ><svg class="social-list__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://www.facebook.com/"
              class="social-list__link"
              target="_blank"
              rel="noreferrer noopener"
              ><svg class="social-list__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="contact">
        Feel free to contact
        <a class="tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <p class="copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
  <div class="border-copyright"></div>
</div>
