<section class="gallery-section">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery-wrap container" data-modal-open>
    <div class="gallery-wrap__list">
      <picture>
        <source
          srcset="./images/gallery-1.jpg 1x, ./images/gallery-tablet-1@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/gallery-tablet-1.jpg 1x, ./images/gallery-tablet-1@2x.jpg 2x"
        />
        <source
          media="(min-width: 410px)"
          srcset="./images/gallery-tablet-60-1.jpg 1x, ./images/gallery-tablet-1@2x.jpg 2x"
        />
        <img
          srcset="./images/gallery-mob-1.jpg 1x, ./images/gallery-mob-1@2x.jpg 2x"
          src="./images/gallery-mob-1.jpg"
          alt="ice cream cone"
          class="image"
        />
      </picture>
    </div>
    <div class="gallery-wrap__list">
      <ul class="picture-list">
        <li class="picture-list__item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery-2.jpg 1x, ./images/gallery-tablet-2@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery-tablet-2.jpg 1x, ./images/gallery-tablet-2@2x.jpg 2x"
            />
            <source
              media="(min-width: 410px)"
              srcset="./images/gallery-tablet-60-2.jpg 1x, ./images/gallery-tablet-2@2x.jpg 2x"
            />
            <img
              srcset="./images/gallery-mob-2.jpg 1x, ./images/gallery-mob-2@2x.jpg 2x"
              src="./images/gallery-mob-2.jpg"
              alt="ice cream cone"
              class="image"
            />
          </picture>
        </li>
        <li class="picture-list__item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery-3.jpg 1x, ./images/gallery-tablet-3@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery-tablet-3.jpg 1x, ./images/gallery-tablet-3@2x.jpg 2x"
            />
            <source
              media="(min-width: 410px)"
              srcset="./images/gallery-tablet-60-3.jpg 1x, ./images/gallery-tablet-3@2x.jpg 2x"
            />
            <img
              srcset="./images/gallery-mob-3.jpg 1x, ./images/gallery-mob-3@2x.jpg 2x"
              src="./images/gallery-mob-3.jpg"
              alt="ice cream cone"
              class="image"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="gallery-wrap__list">
      <ul class="picture-list">
        <li class="picture-list__item picture-list__item--big">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery-4.jpg 1x, ./images/gallery-tablet-4@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery-tablet-4.jpg 1x, ./images/gallery-tablet-4@2x.jpg 2x"
            />
            <source
              media="(min-width: 410px)"
              srcset="./images/gallery-tablet-60-4.jpg 1x, ./images/gallery-tablet-4@2x.jpg 2x"
            />
            <img
              srcset="./images/gallery-mob-4.jpg 1x, ./images/gallery-mob-4@2x.jpg 2x"
              src="./images/gallery-mob-4.jpg"
              alt="ice cream cone"
              class="image image-big"
            />
          </picture>
        </li>
        <li class="picture-list__item grow">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery-5.jpg 1x, ./images/gallery-tablet-5@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery-tablet-5.jpg 1x, ./images/gallery-tablet-5@2x.jpg 2x"
            />
            <source
              media="(min-width: 410px)"
              srcset="./images/gallery-tablet-60-5.jpg 1x, ./images/gallery-tablet-5@2x.jpg 2x"
            />
            <img
              srcset="./images/gallery-mob-5.jpg 1x, ./images/gallery-mob-5@2x.jpg 2x"
              src="./images/gallery-mob-5.jpg"
              alt="ice cream cone"
              class="image"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="gallery-wrap__list">
      <ul class="picture-list">
        <li class="picture-list__item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery-6.jpg 1x, ./images/gallery-tablet-6@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery-tablet-6.jpg 1x, ./images/gallery-tablet-6@2x.jpg 2x"
            />
            <source
              media="(min-width: 410px)"
              srcset="./images/gallery-tablet-60-6.jpg 1x, ./images/gallery-tablet-6@2x.jpg 2x"
            />
            <img
              srcset="./images/gallery-mob-6.jpg 1x, ./images/gallery-mob-6@2x.jpg 2x"
              src="./images/gallery-mob-6.jpg"
              alt="ice cream cone"
              class="image"
            />
          </picture>
        </li>
        <li class="picture-list__item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery-7.jpg 1x, ./images/gallery-tablet-7@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery-tablet-7.jpg 1x, ./images/gallery-tablet-7@2x.jpg 2x"
            />
            <source
              media="(min-width: 410px)"
              srcset="./images/gallery-tablet-60-7.jpg 1x, ./images/gallery-tablet-7@2x.jpg 2x"
            />
            <img
              srcset="./images/gallery-mob-7.jpg 1x, ./images/gallery-mob-7@2x.jpg 2x"
              src="./images/gallery-mob-7.jpg"
              alt="ice cream cone"
              class="image"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="gallery-wrap--fifth gallery-wrap__list">
      <ul class="picture-list">
        <li class="picture-list__item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery-8.jpg 1x, ./images/gallery-tablet-8@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery-tablet-8.jpg 1x, ./images/gallery-tablet-8@2x.jpg 2x"
            />
            <source
              media="(min-width: 410px)"
              srcset="./images/gallery-tablet-60-8.jpg 1x, ./images/gallery-tablet-8@2x.jpg 2x"
            />
            <img
              srcset="./images/gallery-mob-8.jpg 1x, ./images/gallery-mob-8@2x.jpg 2x"
              src="./images/gallery-mob-8.jpg"
              alt="ice cream cone"
              class="image"
            />
          </picture>
        </li>
        <li class="picture-list__item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/gallery-9.jpg 1x, ./images/gallery-tablet-9@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/gallery-tablet-9.jpg 1x, ./images/gallery-tablet-9@2x.jpg 2x"
            />
            <source
              media="(min-width: 410px)"
              srcset="./images/gallery-tablet-60-9.jpg 1x, ./images/gallery-tablet-9@2x.jpg 2x"
            />
            <img
              srcset="./images/gallery-mob-9.jpg 1x, ./images/gallery-mob-9@2x.jpg 2x"
              src="./images/gallery-mob-9.jpg"
              alt="ice cream cone"
              class="image"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="gallery-wrap__list">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./images/gallery-10.jpg 1x, ./images/gallery-tablet-10@2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/gallery-tablet-10.jpg 1x, ./images/gallery-tablet-10@2x.jpg 2x"
        />
        <source
          media="(min-width: 410px)"
          srcset="./images/gallery-tablet-60-10.jpg 1x, ./images/gallery-tablet-10@2x.jpg 2x"
        />
        <img
          srcset="./images/gallery-mob-10.jpg 1x, ./images/gallery-mob-10@2x.jpg 2x"
          src="./images/gallery-mob-10.jpg"
          alt="ice cream cone"
          class="image"
        />
      </picture>
    </div>
  </div>
</section>
