<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-button-close" data-modal-close>
            <svg width="28" height="28">
                <use href="./images/icons.svg#icon-menu-close"></use>
            </svg>
        </button>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./images/gallery-1@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery-2@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery-3@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery-4@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery-5@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery-6@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery-7@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery-8@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery-9@2x.jpg" alt="gallery" width="310" height="310" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>