<section class="section hero" id="hero">
    <div class="container">
        <div class="hero-tab-wrap">
            <div class="hero-content">
                <h1 class="title"><span class="title--white">ice cream made with</span>passion</h1>
                <div class="button-wrap">
                    <a href="#product" class="btn btn--pink">Products</a>
                    <a href="#about" class="btn">How it’s made?</a>
                </div>
                <div class="milk-wrap">
                    <picture>
                        <source srcset="./images/hero/hero-milk-des-188.png 1x, ./images/hero/hero-milk-des-376.png 2x"
                            media="(min-width: 1280px)" />
                        <img class="hero-milk animate__animated animate__rollIn" srcset="./images/hero/hero-milk-tab-124.png 1x, ./images/hero/hero-milk-tab-248.png 2x" src="./images/hero/hero-milk-tab-124.png" alt="milk" />
                    </picture>
                    <label class="milk-checkbox">
                        <input type="checkbox" name="checkbox" class="produckts-list__input" />
                        <span class="milk-check-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</span>
                       
                        <svg class="arrow-icon white-circle" width="26" height="26">
                            <use href="./images/icons.svg#icon-arrow-2"></use>
                        </svg>
                    
                    </label>
                </div>
            </div>
            <ul class="hero-number__list">
                <li class="hero-number__item">
                    <span class="hero-number__number">16</span>
                    <p class="hero-number__text">cafes</p>
                </li>
                <li class="hero-number__item">
                    <span class="hero-number__number">23</span>
                    <p class="hero-number__text">food-trucks</p>
                </li>
            </ul>
        </div>
        <picture>
            <source srcset="./images/hero/hero-icecream-des-236.png 1x, ./images/hero/hero-icecream-des-472.png 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/hero/hero-icecream-tab-143.png 1x, ./images/hero/hero-icecream-tab-286.png 2x" media="(min-width: 768px)" />
            <img class="hero-icecream animate__animated animate__fadeInUp" srcset="./images/hero/hero-icecream-mob-171.png 1x, ./images/hero/hero-icecream-mob-342.png 2x" src="./images/hero/hero-icecream-mob-171.png"
            alt="IceCream" />
        </picture>
        <div class="hero-circle"></div>
        <picture>
            <source srcset="./images/hero/hero-girl-des-293.png 1x, ./images/hero/hero-girl-des-586.png 2x"
                media="(min-width: 1280px)" />
            <img class="hero-girl animate__animated animate__wobble" srcset="./images/hero/hero-girl-tab-168.png 1x, ./images/hero/hero-girl-tab-336.png 2x" src="./images/hero/hero-girl-tab-168.png" alt="IceCream" />
        </picture>
    </div>
</section>