<div class="backdrop is-hidden" data-map>
    <div class="modal contacts-modal">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.734789455808!2d-74.00010538473221!3d40.72385447933056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259e713d43875%3A0xbfd5eb3c3e1bb328!2sMUSEUM%20OF%20ICE%20CREAM!5e0!3m2!1sru!2sua!4v1650963375405!5m2!1sru!2sua"
            class="contact-map" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <button type="button" class="modal-button-close" data-map-close>
            <svg width="28" height="28">
                <use href="./images/icons.svg#icon-menu-close"></use>
            </svg>
        </button>
    </div>
</div>