<section class="products" id="product">
  <div class="container">
    <p class="products__text _anim-items _anim-no-hide">100% natural</p>
    <h2 class="products__title _anim-items _anim-no-hide">products</h2>
    <ul class="products-list">
      <li class="products-list__item cream">
        <h3 class="products-list__title">ice cream</h3>
        <label class="products-list__label">
          <input type="checkbox" name="checkbox" class="produckts-list__input" />
         <span class="products-list__span _anim-items _anim-no-hide"
            > Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. <span class="products-list__span-two"> dolore magna aliqua facilisis.</span></span
          >

          <svg width="40" height="40" class="products-list__checkbox-icon _anim-items _anim-no-hide">
            <use href="./images/icons.svg#icon-arrow-2"></use>
          </svg>
        </label>
      </li>
      <li class="products-list__item coffee">
        <h3 class="products-list__title">ice coffee</h3>
        <label class="products-list__label">
          <input type="checkbox" name="checkbox" class="produckts-list__input" />
          <span class="products-list__span _anim-items _anim-no-hide"
            > Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. <span class="products-list__span-two"> dolore magna aliqua facilisis.</span></span
          >
          <svg width="40" height="40" class="products-list__checkbox-icon ">
            <use href="./images/icons.svg#icon-arrow-2"></use>
          </svg>
        </label>
      </li>
      <li class="products-list__item milkshakes">
        <h3 class="products-list__title">milkshakes</h3>

        <label>
          <input type="checkbox" name="checkbox" class="produckts-list__input" />
          <span class="products-list__span _anim-items _anim-no-hide"
            > Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. <span class="products-list__span-two"> dolore magna aliqua facilisis.</span></span
          >

          <svg class="products-list__checkbox-icon" width="26" height="26">
            <use href="./images/icons.svg#icon-arrow-2"></use>
          </svg>
        </label>
      </li>
    </ul>
  </div>
</section>
